* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color:rgb(234, 239, 240);
  
    
}
/* header */
#site_header {
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

.logo {
        padding-top: 0.5rem;
        padding-left: 1.5rem;
        padding-bottom: 0.5rem;
}
.name_logo {
    	    display: inline-block;
            font-size: 3rem;
            vertical-align: 1rem;         
}