* { font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  
    
}
/*site header */
#site_header {
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

.logo {
        padding-top: 0.5rem;
        padding-left: 1.5rem;
        padding-bottom: 0.5rem;
}
.name_logo {
    	    display: inline-block;
            font-size: 3rem;
            vertical-align: 1rem;         
}
/* site main */
#site_main {
     background-color:whitesmoke;
     padding: 4rem;
 
}

.add {
        background-color: white;
        width: 60rem;
        margin: auto;
        padding: 1.5rem;
        padding-left: 4rem;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
}
.add_t {
    
    padding: 0.5rem;
    background-color: rgb(83, 169, 255);
    color: white;
    border-radius: 0.5rem;
    border: 2px solid rgb(83, 169, 255);
}
.add_s {
    padding: 00.5rem;
    background-color: white;
     color: lightgrey;
     margin-left: 0.5rem;
     border: 2px solid lightgray;
     border-radius: 0.5rem;
     
}
.task_section {
    background-color:white;
    width: 60rem;
    border-bottom-left-radius: 0.5rem;  
    border-bottom-right-radius: 0.5rem;
    margin: auto;
    padding: 4rem;
    border-top: 4px solid whitesmoke;
}

.v {
    color: lightgreen;
    border: 2px solid lightgreen;
    border-radius: 100%;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}
.x {
    color: red;
    border: 2px solid red;
    border-radius: 100%;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}
.editorial {
    background-color: rgb(83, 169, 255);
    color: white;
    padding: 0.5rem;
    border-radius: 1rem;
}
li {
    list-style: none;
    padding: 1rem;
}
/* tipo */
.editorial {
    background-color: rgb(83, 169, 255);
    color: white;
    padding: 0.5rem;
    border-radius: 1rem;
    font-size: 0.7rem;
}
.q1 {
    background-color: rgb(148, 86, 230);
    color: white;
    padding: 0.5rem;
    border-radius: 1rem;
    font-size: 0.7rem;
}
.recruting {
    background-color: rgb(8, 182, 159);
    color: white;
    padding: 0.5rem;
    border-radius: 1rem;
    font-size: 0.7rem;
}
.mobile {
    background-color: rgb(230, 163, 21);
    color: white;
    padding: 0.5rem;
    border-radius: 1rem;
    font-size: 0.7rem;
}
.website {
    background-color: rgb(135, 69, 141);
    color: white;
    padding: 0.5rem;
    border-radius: 1rem;
    font-size: 0.7rem;
}
.sales {
    background-color: rgb(182, 212, 97);
    color: white;
    padding: 0.5rem;
    border-radius: 1rem;
    font-size: 0.7rem;
}